.home-container {
    display: flex;
    flex:1;
    justify-content: space-between;
    flex-direction: row;
    background-color: #525252;
    height: 100vh;
}


.home-text{
    font-family: Roboto;
    color: #FFFFFF;
    margin-top: 81px;
    margin-left: 97px;
}

.text-tile{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    margin-top: 19px;
    
}

.text-subtitle{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: #F2F2F2;
    width: 320px;
}

.main-image{
    margin-top: 50px;
}