.login-card{
    background-color: #6C6C6C;
    width: 479px;
    height: 573px;
    background: #6C6C6C;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.login-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.login-text{
    color: #FFF;
    justify-content: center;
    text-align: center;
    margin-top: 74px;
    margin-bottom: 35px;
}

.input-base {
    margin-top: 30px;
    margin-right: 44px;
    margin-left: 44px;
    padding-left: 10px;
}

.login-submit{
    display: flex;
    flex-direction: row;
    background-color: var(--bg-primary);
    align-items: center;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 35px;
    height: 65px;   
    margin-left: 44px;
    margin-right: 44px;
    
}

.login-submit-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.015em;
}
