.login-card{
    background-color: #6C6C6C;
    width: 479px;
    height: 573px;
    background: #6C6C6C;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.login-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.login-text{
    color: #FFF;
    justify-content: center;
    text-align: center;
    margin-top: 74px;
    margin-bottom: 35px;
}


.login-submit{
    background-color: var(--color-primary);    
    text-align: center;
    margin-top: 100px;
    margin-bottom: 35px;
}

.input-base {
    width: 80%;
}