.text{
    left: 138px;
    right: 1237px;
    font-family: Roboto;
    color: #FFFFFF;
}

.movies-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    background: #525252;
    height: 100vh;
}

.movies-card-container{
    display: flex;
    background: #525252;
    flex-direction: row;
    padding-left: 5%;
    padding-left: 5%;
    padding-bottom: 40px;
    padding-top: 10px;
}